.trending{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
.pageTitle{
    margin-top: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
}
